.login{
  display: block;
  border: 0px;
  background: white;
  border-radius: 10px;
  outline: 0;
  width: 300px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  svg{
    margin-right: 10px;
    fill: #1DB954;
    font-size: 25px;
  }
  
  &:hover{
    background: rgba(255, 255, 255, 0.5);
  }
}

.logout{
  margin-bottom: 25px;
  pointer-events: all;
}

.container{
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .box{
    background-color: #fff;
    border-radius: 50px;
    padding: 30px 45px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
 
}

.play{
  background: #1DB954;
  margin: 0 auto;
  color: #fff;
  padding: 5px 30px;
  width: auto;
  margin-top: 30px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);

  svg{
    fill: white;
  }

  &:hover{
    background: #085f27;
    opacity: 1;
  }
}